<?xml version="1.0"?>
<ruleset name="WP-CLI-PROJECT-NAME">
<description>Custom ruleset for WP Revisions CLI</description>

    <!-- What to scan. -->
    <file>.</file>

    <!-- Show progress. -->
    <arg value="p"/>

    <!-- Strip the filepaths down to the relevant bit. -->
    <arg name="basepath" value="./"/>

    <!-- Check up to 8 files simultaneously. -->
    <arg name="parallel" value="8"/>

    <!-- For help understanding the `testVersion` configuration setting:
         https://github.com/PHPCompatibility/PHPCompatibility#sniffing-your-code-for-compatibility-with-specific-php-versions -->
    <config name="testVersion" value="5.4-"/>

    <!-- Rules: Include the base ruleset for WP-CLI projects. -->
    <rule ref="WP_CLI_CS"/>

    <rule ref="WordPress.NamingConventions.PrefixAllGlobals">
        <properties>
            <property name="prefixes" type="array">
                <element value="Revisions"/>
            </property>
        </properties>
    </rule>

</ruleset>